<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lawyer Ratings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
    <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>
  </head>
  <body>
    <!--________________________________________________________________________-->
    
    <div class="row">
      <div class="large-12 columns">
        
        <!-- Navigation -->
        
        <ul class="button-group">
          <li><a href="/home" class="button"><font face = "purisa" color = "yellow">Home</font></a></li>
          <li><a href="/weather" class="button"><font face = "purisa" color = "yellow">Weather</font></a></li>
          <li><a href="/maps" class="button"><font face = "purisa" color = "yellow">Burial Spots</font></a></li>
        </ul>
        
        <!-- End Navigation -->
        
<div class="row">
 
  <!-- Side Bar -->
 
        <div class="large-4 small-12 columns">
 
          <img src="{{ url_for('static', filename='img/lawyer.jpg') }}">
 
          <div class="hide-for-small panel">
            <h3>Yelp Lawyers</h3>
            <h5 class="subheader">Get caught? No worries. Find the best lawyer you can here! Their acceptance is NOT guaranteed!
            </h5>
          </div>
 
<!-- Search Bar -->
 
        <div class="row">
 
          <div class="large-12 columns">
            <div class="radius panel">
 
            <form method = POST>
              <div class="row collapse">

 
                <div class="large-10 small-8 columns">
                  <input type=text name = Location>
                </div>
 
                <div class="large-2 small-5 columns">
                  <input type = submit name = "button" class="postfix button expand" value = "Enter!">
                </div>
 
              </div>
            </form>
 
          </div>
          </div>
 
        </div>
 
      <!-- End Search Bar -->

 
        </div>
 
    <!-- End Side Bar -->
 
 
    <!-- Thumbnails -->
 
        <div class="large-8 columns">
          <div class="row">
                    {% if lawyers is defined %}
                        {% for lawyer in lawyers %}
            <div class="large-4 small-6 columns">
                          <a href="{{ lawyer['url'] }}">
                <img src="{{ lawyer['image_url'] }}">
                          </a>
              <div class="panel">
                <h5>{{ lawyer['name'] }}</h5>
                <h6 class="subheader">
                                  <img src={{ lawyer['rating_img_url_small'] }}>
                                </h6>
              </div>
            </div>
                        {% endfor %}
                        {% endif %}
          </div>
 
    <!-- End Thumbnails -->
 
 
    <!-- Managed By -->
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <div class="row">
 
                  <div class="large-2 small-6 columns">
                    <img src="http://placehold.it/300x300&text=Site Owner">
                  </div>
 
                  <div class="large-10 small-6 columns">
                    <strong>This Site Is Managed By<hr/></strong>
 Period 7, Group 2 via Github, Flask, html, Python, Foundation, Javascript and a box of red bull.
                    
                  </div>
 
                </div>
              </div>
            </div>
 
    <!-- End Managed By -->
 
          </div>
        </div>
      </div>        

        
        <!-- Footer -->
        
        <footer class="row">
          <div class="large-12 columns"><hr />
            <div class="row">
              
              <div class="large-6 columns">
                <p>© Copyright Period 7 Group 2</p>
              </div>
              
              <div class="large-6 columns">
                <ul class="inline-list right">
                  <li><a href="https://www.facebook.com/sabrina.khan.716?fref=ts">Sabrina Khan</a></li>
                  <li><a href="https://www.facebook.com/W0odchuk">Brian Chuk</a></li>
                  <li><a href="https://www.facebook.com/its.only.lifee">Kelvin Mei</a></li>
                  <li><a href="https://www.facebook.com/joshua.chin.104?fref=ts">Joshua Chin</a></li>
                </ul>
              </div>
              
            </div>
          </div>
        </footer>
        
        <!-- End Footer -->
        
        
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js')}}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
