<!doctype html>

<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <style type="text/css">
      html {height: 100% }
      body {height: 100%; margin: 0; padding: 0 }
      map-canvas {height:100% }
    </style>
    <title>Burial Spots</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
    <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>
     <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8BMVcgDDaxWB5kVxgQD9jT5Nsg58cA2c&sensor=false">
    </script>
     <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, "load", initialize);
    </script>
  </head>

  <body>
   
    <div class="row">
      <div class="large-12 columns">
	
	<!-- Navigation -->
	
        <ul class="button-group">
          <li><a href="/home" class="button">Home</a></li>
          <li><a href="/weather" class="button">Weather</a></li>
          <li><a href="/lawyer" class="button">Lawyer</a></li>
	</ul>
	
	<!-- End Navigation -->

	<!-- Search Bar -->
	
        <div class="row">
	  
          <div class="large-12 columns">
            <div class="radius panel">
	      
              <form>
		<div class="row collapse">
		  
                  <div class="large-10 small-8 columns">
                    <input type="text" name="Location"/>
                  </div>
		  
                  <div class="large-2 small-3 columns">
                    <a href="#" class="postfix button expand">Enter in your location</a>
                  </div>
		  
		</div>
              </form>
	      
            </div>
          </div>
	  
        </div>
	
	<!-- End Search Bar -->

	<!-- Header Content -->
	
        <div class="row">
	   
          <div class="large-6 columns">
	      
           <iframe width="470" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"

	      <div id="map-canvas"/>>

	    </iframe>

          </div>
	  
          <div class="large-6 columns">
	    
            <h3 class="show-for-small">Maps<hr/></h3>
	    
            <div class="panel">
              <h4 class="hide-for-small">Burial Spots<hr/></h4>
              <h5 class="subheader">Here is the best location to hide a dead body!</h5>
            </div>
	    
            <div class="panel">
              <h4 class="hide-for-small">Recommended Places<hr/></h4>
              <h6 class="subheader">Follow the link to find a list of recommendations for where to dump the body!</h6>
              <a href="http://www.experienceproject.com/question-answer/Best-Place-To-Hide-A-Dead-Body/1065636" class = "small button"> Go!</a>
            </div>
	    
          </div>
	  
        </div>
	<br>
	
	<!-- End Header Content -->
	
	<!-- Footer -->
	
        <footer class="row">
          <div class="large-12 columns"><hr />
            <div class="row">
	      
              <div class="large-6 columns">
                <p>© Copyright Period 7 Group 2</p>
              </div>
	      
              <div class="large-6 columns">
                <ul class="inline-list right">
                  <li><a href="https://www.facebook.com/sabrina.khan.716?fref=ts">Sabrina Khan</a></li>
                  <li><a href="https://www.facebook.com/W0odchuk">Brian Chuk</a></li>
                  <li><a href="https://www.facebook.com/its.only.lifee">Kelvin Mei</a></li>
                  <li><a href="https://www.facebook.com/joshua.chin.104?fref=ts">Joshua Chin</a></li>
                </ul>
              </div>
	      
            </div>
          </div>
	</footer>
	
	<!-- End Footer -->
	
	
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js')}}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
