<!doctype html>

<html>

  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />


    <title>Burial Spots</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />


    <style type="text/css">
      html {height: 100% }
      body {height: 100%; margin: 1; padding: 0 }
      #map-canvas {height:500px;
      width: 500px;}
    </style>


    <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>


    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDus1MUHNn7lXEz_Lj6KzIz3TXpk7-xNw&sensor=true">
    </script>

       {{jscripts|safe}}

  </head>

  <body>
    
    <div class="row">
      <div class="large-12 columns">
	
	<!-- Navigation -->
	
        <ul class="button-group">
          <li><a href="/home" class="button"><font face = "purisa" color = "yellow">Home</font></a></li>
          <li><a href="/weather" class="button"><font face = "purisa" color = "yellow">Weather</font></a></li>
          <li><a href="/lawyer" class="button"><font face = "purisa" color = "yellow">Lawyer</font></a></li>
	</ul>
	
	<!-- End Navigation -->

<!-- Search Bar -->
 
        <div class="row">
 
          <div class="large-12 columns">
            <div class="radius panel">
 
            <form method = POST>
              <div class="row collapse">

 
                <div class="large-10 small-8 columns">
                  <input type=text name = Location>
                </div>
 
                <div class="large-2 small-3 columns">
                  <input type = submit name = "button" class="postfix button expand" value = "Enter Your Location!">
                </div>
 
              </div>
            </form>
 
          </div>
          </div>
 
        </div>
 
      <!-- End Search Bar -->



	<!-- Header Content -->
	
        <div class="row">
	  
          <div class="large-6 columns"  id = "map-canvas">

          </div>
	  
          <div class="large-6 columns">
	    
            <h3 class="show-for-small">Maps<hr/></h3>
	    
            <div class="panel">
              <h4 class="hide-for-small">Burial Spots<hr/></h4>
              <h5 class="subheader">Here we will guide you to the best location to hide a dead body! Enter in your address above. It MUST be in the format of (Building Number) (Street) (State) e.g. 345 Chambers Street, NY. DON'T FORGET THE COMMA BETWEEN THE STREET AND THE STATE! :) Zoom in and find the most secretive location you can find near YOU! You can change the look of the top using the buttons at the top right corner of the map! Refer to the thread below for places! If you want to search for stores for materials, I advise you to just order them on <a href = "http://www.amazon.com">Amazon</a>.</h5>
            </div>
	    
            <div class="panel">
              <h4 class="hide-for-small">Recommended Places<hr/></h4>
              <h6 class="subheader">Follow the link to find a list of recommendations for where to dump the body!</h6>
              <a href="http://www.experienceproject.com/question-answer/Best-Place-To-Hide-A-Dead-Body/1065636" class = "small button"> Go!</a>
            </div>
	    
          </div>
	  
        </div>
	<br>
	
	<!-- End Header Content -->
	
	<!-- Footer -->
	
        <footer class="row">
          <div class="large-12 columns" ><hr />
            <div class="row">
	      
              <div class="large-6 columns">
                <p>© Copyright Period 7 Group 2</p>
              </div>
	      
              <div class="large-6 columns">
                <ul class="inline-list right">
                  <li><a href="https://www.facebook.com/sabrina.khan.716?fref=ts">Sabrina Khan</a></li>
                  <li><a href="https://www.facebook.com/W0odchuk">Brian Chuk</a></li>
                  <li><a href="https://www.facebook.com/its.only.lifee">Kelvin Mei</a></li>
                  <li><a href="https://www.facebook.com/joshua.chin.104?fref=ts">Joshua Chin</a></li>
                </ul>
              </div>
	      
            </div>
          </div>
	</footer>
	
	<!-- End Footer -->
	
	
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js')}}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
